:root{
    --discount_label_color:#EB0037;
    --sustainability_label_color:#00875A;
    --price_color:#FF0000;
    --background_color:white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.product{
    position: relative;
    display: inline-block;
}



.window{
    position: relative;
    display: inline-block;
    width: 25%;
    margin: 0.2rem;
    
}

img{
    width: 100%;
}

.hover_img{
position: absolute;
top: 0;
left: 0;
}

.labels{
    position: absolute;
    left: 0;
    bottom: 1rem;
    z-index: 4;
}

.label{
    padding: 0.2rem;
    color: white;
    
}

.discount{
    background-color: var(--discount_label_color);
}

.sustainability{
    background-color: var(--sustainability_label_color);
}

.info{
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
}

.heart{
    position: absolute;
    right: 0;
    top: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: white;
    z-index: 4;
    line-height: 2rem;
}

.row{
    text-align: center;
    margin-bottom: 4rem;
}

.hover_img{
    z-index: 3;
}

.window:hover .hover_img{
    visibility: hidden;
}

.new_price{
    color: var(--price_color);
}

.old_price{
    text-decoration: line-through;
   
}

.brand{
    font-size: 0.7rem;
}

.product_name{
    font-weight: 600;
}